
body{
    margin:0;
    
}

*{
    box-sizing: border-box;
}

section{
    padding: 90px 0 30px;
}
section>div{
    margin: auto;
    
}
.instructor-videos{
	display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #777;
}
.video-headings{
    font-weight: bold;
}
.instructor-videos>div{
    flex: 1;
    padding: 15px;
}

.operations{
    margin-left: 10px;
}

.starBlock .star{
    cursor: default;
}

.modal-backdrop {
   
    z-index: 0;
    
}


.inactive{
    display: none;
}

.edit-msg{
    padding-top: 10px;
    margin-top: 10px;
    max-width:640px;
    width: 100%;
}

.edit-msg strong,
.login-msg strong {
    color:rgb(168, 70, 70)
}
