.big-banner{
	background: url("https://i.ibb.co/w0qFNtf/blur-blurred-background.jpg") no-repeat center center/cover;
	color: #fff;
}

.selling-point{
	background: linear-gradient(-45deg, #ec5252, #6e1a52)
}
